<?php		
	if(isset($_POST['name'])){
		$url = "http://localhost/final/user/update";

		$options = ["http" => [
		"method" => "POST",
		"header" => ["Connection: close", "Content-type: application/x-www-form-urlencoded", "Cookie: " . $_SERVER['HTTP_COOKIE']],
		"content"=>http_build_query(array('name'=>$_POST['name'], 'email'=>$_SESSION['user']['email'], 'password'=>$_POST['password']))   
		]];	
		
		$context = stream_context_create($options);
		
		try{
			file_get_contents($url, false, $context);	
			
			if(strpos($http_response_header[0], '200')){
				$_SESSION['user']['name'] = $_POST['name'];
				$msg = "<h1>User saved successfully</h2>";
			}			
		}catch(Exception $e)
		{	
			if(strpos($http_response_header[0], '409')){
				$msg = "<h1>User does not exists</h2>";
			}
			else{
				echo $e->getMessage();
			}			
		}		
	}				
?>
<html>
<head></head>
<body>
	<!--SERVICE SECTION START-->
	<section id="services">
		<div class="container" >
			<div class="row text-center header">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
				<h3>Edit User</h3>
				<hr />
				</div>
			</div>
			<div  class="row animate-in" data-anim-type="fade-in-up">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="services-wrapper">																	
						<form style="margin:0 auto; width:50%;" action="" method="POST">    
							<?php if(isset($msg)) echo $msg?>
							E-mail:<br>
							<input class="form-control" type="text" name="email" value="<?php echo $_SESSION['user']['email'] ?>" disabled required>
							<br>
							Name:<br>
							<input class="form-control" type="text" name="name" value="<?php echo $_SESSION['user']['name'] ?>" required>			
							<br>
							New Password:<br>
							<input class="form-control" type="password" name="password" required>
							<br>
							<input class="btn btn-primary" type="submit" Value="Save">
						</form>
						<p>
						
						<form action="http://localhost/final/user/delete" method="POST">
							<input type="hidden" name="_METHOD" value="DELETE" />
							<input type="hidden" name="email" value="<?php echo $_SESSION['user']['email'] ?>" />
							<input class="btn btn-danger" type="submit" Value="Delete My User">
						</form>
						
					</div>
				</div>	
			</div>				
		</div>
	</section>
	<!--SERVICE SECTION END-->		
</body>
</html>