<html>
<head></head>
<body>

	<!--SERVICE SECTION START-->
	<section id="services">
		<div class="container" >
			<div class="row text-center header">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
				<h3>Login</h3>
				<hr />
				</div>
			</div>
			<div  class="row animate-in" data-anim-type="fade-in-up">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="services-wrapper">					
						<form style="margin:0 auto; width:50%;" action="../login" method="POST">        						
							E-mail:<br>
							<input class="form-control col-sm-12" type="text" name="email" required>
							<br>
							Password:<br>
							<input class="form-control" type="password" name="password" required>
							<br>
							<input class="btn btn-primary" type="submit" Value="Login">
						</form>
					</div>
				</div>	
			</div>				
		</div>
	</section>
	<!--SERVICE SECTION END-->	
</body>
</html>