<?php		
	if(isset($_POST['name'])){
		$url = "http://localhost/Lecture19/user/update";

		$options = ["http" => [
		"method" => "POST",
		"header" => ["Connection: close", "Content-type: application/x-www-form-urlencoded", "Cookie: " . $_SERVER['HTTP_COOKIE']],
		"content"=>http_build_query(array('name'=>$_POST['name'], 'email'=>$_SESSION['user']['email'], 'password'=>$_POST['password']))   
		]];	
		
		$context = stream_context_create($options);
		
		try{
			file_get_contents($url, false, $context);	
			
			if(strpos($http_response_header[0], '200')){
				$_SESSION['user']['name'] = $_POST['name'];
				echo "<h1>User saved successfully</h2>";
			}			
		}catch(Exception $e)
		{	
			if(strpos($http_response_header[0], '409')){
				echo "<h1>User does not exists</h2>";
			}
			else{
				echo $e->getMessage();
			}			
		}		
	}				
?>
<html>
<head></head>
<body>
	<form action="" method="POST">    
		E-mail:<br>
		<input type="text" name="email" value="<?php echo $_SESSION['user']['email'] ?>" disabled required>
		<br>
		Name:<br>
		<input type="text" name="name" value="<?php echo $_SESSION['user']['name'] ?>" required>			
		<br>
		New Password:<br>
		<input type="password" name="password" required>
		<br>
		<input type="submit" Value="Save">
	</form>
	<p>
	
	<form action="http://localhost/Lecture19/user/delete" method="POST">
		<input type="hidden" name="_METHOD" value="DELETE" />
		<input type="hidden" name="email" value="<?php echo $_SESSION['user']['email'] ?>" />
		<input type="submit" Value="Delete My User">
	</form>
</body>
</html>